.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added later for sample*/
.container, .container-fluid {
  margin-top: 20px;
}

table#centered {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
}
table#query-pane-table {
  border-collapse: collapse;
}

table#input-choice {
  /* margin-left: auto;
  margin-right: auto;*/
  width: 320px;
  justify-content: left;

}

table#simulate-pane {
  display: flex;
  justify-content: center;
}

td#side-menu-pane {
  border: 5px solid #e3ecf2;
  border-collapse: collapse;
}

td#diagram-pane {
  border: 5px solid #e3ecf2;
  border-collapse: collapse;
}

td#query {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

td#run {
  display: flex;
  justify-content: center;
}

td#context {
  vertical-align: middle;
  text-align: center;
}

td#input-name {
  width: 50px;
  padding-right: 4px;
}

td#input-value {
  color: #e3ecf2;
  font-weight: bold;
  /*width: 350px;*/
}

td#constraint {
  padding-right: 5px;
  padding-bottom: 2px;
}

td#field-to-simulate {
  padding-right: 5px;
  padding-bottom: 2px;
}

.side-menu-h1 {
  text-align: center;
  color: #e3ecf2;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.side-menu-h2 {
  color: #e3ecf2;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.side-menu-h4 {
  color: #e3ecf2;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
}

.side-menu-h3 {
  color: #e3ecf2;
  padding-left: 10px;
  padding-right: 10px;
}

.side-menu-block {
  padding-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
}

.todo {
  text-align: center;
  padding-left: 0;
  margin-bottom: 3px;
}


.simulate-h2 {
  color: #e3ecf2;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3px;
}

.constraints {
  margin-bottom: 10px;
}

.query-choice {
  height: 150px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  border: 2px solid #e3ecf2;
  background-color: #1c6ca1;
}

button#run {
  color: #ffffff;
  /*background-color: #53b386;*/
  background-color: #2ec077;
  border-radius: 6px;
  width: 100%;
  height: 35px;
}

.value {
  padding: 20px 80px;
  background-color: #1c6ca1;
  border-radius: 6px;
  align-content: center;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.xLabel {
  padding: 20px 80px;
  background-color: #e3ecf2;
  border: none;
  font-size: 15px;
  vertical-align: bottom;
  font-family: "Lato", sans-serif;
}

.yLabel {
  padding: 20px 40px;
  background-color: #e3ecf2;
  border: none;
  font-size: 15px;
  text-align: right;
  font-family: "Lato", sans-serif;
}

.output-title {
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 1.4em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.bar-group .name-label {
  text-anchor: end;
  font-weight: 300;
  font-size: 1em;
  fill: #333;
  font-family: "Lato", sans-serif;
}


.bar-group .value-label-dark {
  text-anchor: start;
  fill: #1c6ca1;
  font-weight: 900;
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
}

.name-label-zero-dimension {
  font-weight: 300;
  font-size: 1em;
  fill: #333;
  font-family: "Lato", sans-serif;
}

.nav-bar {
  color: #fff;
  background-color: #1c6ca1;
  font-weight: bold;
}

p#welcome-title-big {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #1c6ca1;
  margin-top: 20px;
}

p#welcome-title-small {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #1c6ca1;
  margin:15px;
}

b#title-text{
  color: #1c6ca1;
  margin:0;
}

p#main-functionalities {
  text-align: center;
  margin:0;
  color: #1c6ca1;
  font-weight: bold;
  font-size: 16px;
}

p#normal-text {
  text-align: center;
  margin:0;
  padding-left: 30px;
  padding-right: 30px;
}

p#intro-end{
  margin-bottom: 20px;
}

